body {
	font-family: sans-serif;
}

#results {
	height: 512px;
	overflow: auto;
	border: 1px dotted;
}

ul, li {
	list-style: none;
	list-style-position: inside;
	padding: 0px;
}

ul.results li.resultEntry {
	margin: 1em;
}

ul.results label {
	font-weight: bold;
}

.scientific .scientificName {
	text-decoration: underline;
}

.vernacular .scientificName {
	text-decoration: none !important;
}


.Unknown .scientificName,
.English .scientificName,
.Spanish .scientificName,
.French .scientificName {
	text-decoration: none !important;
}

.English .vernacularName.English,
.French .vernacularName.French,
.Spanish .vernacularName.Spanish {
	text-decoration: underline;
}


li.resultEntry { 
	border: 1px dotted; 
}

ul.vernacularNames {
	margin-left: 1em;
}