h2 label { display: inline-block; min-width: 187px; }

.panel { border-left: 1px solid; border-right: 1px solid; border-bottom: 1px solid; overflow: auto; position: relative; }
.panelWrapper { height: 600px; max-height: 600px; }

.header {
	display: block;
	clear: both;
	font-size: large;
	font-weight: bold;

	margin: 0 .2em !important;
	padding: .2em;

	border: 1px solid;
}

.entryAttribute { white-space: nowrap; overflow: hidden; text-overflow: ellipsis; }
.entryDescription, .matcherDataDescription { font-size: smaller; }
.entryDescription { width: 100%; }

#sourceCodelistId, #targetCodelistId, #sourceCodelistCodeColumn, #targetCodelistCodeColumn { cursor: help; padding: 0 .2em; text-shadow: none !important; }
#sourceCodelistName, #targetCodelistName { cursor: help; font-style: italic; }