* { margin: 0; padding: 0; font-family: sans-serif !important; }
html { height: 100% }

body { background-color: white; min-width: 1280px; padding: .5em; }

h1, h2 { border-bottom: 1px solid; }
h1 { font-size: 120%; padding: .2em; }
h2 { border-top: 1px solid; padding: 1em 0; margin-top: .5em; }
h3 code { font-family: monospace !important; }

code, pre { font-family: monospace !important }

select { border-color: inherit; outline: none };

input { border: 1px solid; outline: none; }
input[type='button'], input[type='submit'], input[type='reset'] { padding: .2em .5em; -moz-border-radius: 3px; border-radius: 3px; }

input[type='text'], textarea {
	padding-left: 4px;
	padding-top: 2px;
	-moz-border-radius: 5px; border-radius: 5px; 
	-webkit-box-shadow: inset 3px 3px 8px 1px rgba(0, 0, 0, .1); 
	box-shadow: inset 3px 3px 8px 1px rgba(0, 0, 0, .1);
}

ul li, ol li { list-style: none; padding-left: 0; }

h2.navigation { height: 33px; }
h2 .breadcrumb { }
h2 .breadcrumb .current { border-bottom: 1px solid; }

.asButton, .buttonSet { display: none; }
.visible { display: inline !important; }
.ui-widget-header,
.ui-state-default,
.ui-state-hover,
.ui-state-highlight,
.ui-state-error { 
	background-image: none !important; 
}

.dialog { margin-top: .4em; margin-left: .2em; margin-right: .2em; margin-bottom: .2em; }
.dialogContent, .dialogContent * { font-family: monospace !important; }

.breadcrumb a { text-decoration: none !important; border-bottom: 1px dotted; }
.breadcrumb a:hover { border-bottom: 1px solid; }

.hidden { display: none; }

.half { width: 49%; }

.left { float: left; }
.right { float: right; }
.center { text-align: center; }

.clear { clear: both; }

.lBorder { border-left: 1px solid; }
.rBorder { border-right: 1px solid; }
.bBorder { border-bottom: 1px solid; }
.tBorder { border-top: 1px solid; }

.bClear {  clear: both; }
.lClear {  clear: left; }
.rClear {  clear: right; }

.slider { display: inline-block; width: 256px; }

.smallest, .smaller, .larger { white-space: nowrap; }
.smallest { font-size: x-small; }
.smaller { font-size: smaller; }
.larger { font-size: larger; }

.value { padding-left: .5em; font-family: monospace; }

.noSelect {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none; 
    user-select: none;
}

.enableSelect {
    -webkit-touch-callout: element !important;
    -webkit-user-select: text !important;
    -khtml-user-select: element !important;
    -moz-user-select: element !important;
    -ms-user-select: element !important;
    user-select: element !important;
}

.codelistMeta .ui-state-highlight,
.codelistMeta .ui-state-hover { font-weight: normal !important; border: 0 !important; }

.codelistMeta .ui-state-highlight { cursor: default !important; }
.codelistMeta .ui-state-hover { cursor: pointer; }

.ui-dialog { 
	font-size: initial !important; 
	-webkit-box-shadow: 3px 3px 5px 1px rgba(0, 0, 0, .3);
	box-shadow: 3px 3px 5px 1px rgba(0, 0, 0, .3);
}

.ui-autocomplete-loading { background: white url('images/ui-anim_basic_16x16.gif') right center no-repeat; }

.ui-autocomplete { max-height: 340px; overflow-y: auto; overflow-x: hidden; }
.ui-autocomplete-loading { background: #FFFFCC url('../images/spinner.gif') right center no-repeat !important; }
.ui-autocomplete.ui-menu { min-width: 400px; }
.ui-autocomplete.ui-menu .ui-menu-item { font-size: smaller !important; white-space: nowrap; margin: 0 !important; border-bottom: 1px solid; }
.ui-autocomplete.ui-menu .ui-menu-item a.ui-state-focus { background-image: none !important; }

.tabData { padding-top: 1em !important; padding-left: .2em !important; height: 309px; overflow: auto; }

.ui-tabs-nav li a { outline: none; }

.ui-tabs-vertical { width: 97%; margin: 0 auto; }
.ui-tabs-vertical .ui-tabs-nav { padding: .2em .1em .2em .2em; float: left; width: 12em; }
.ui-tabs-vertical .ui-tabs-nav li { clear: left; width: 100%; border-bottom-width: 1px !important; border-right-width: 0 !important; margin: 0 -1px .2em 0; }
.ui-tabs-vertical .ui-tabs-nav li a { display: block; width: 84%; outline: none; }
.ui-tabs-vertical .ui-tabs-nav li.ui-tabs-active { padding-bottom: 0; padding-right: .1em; border-right-width: 1px; border-right-width: 1px; }
.ui-tabs-vertical .ui-tabs-panel { padding: 1em; float: right; width: 79%;}