input[type='text'], textarea { width: 99%; }
input[type='text'], textarea { font-size: larger; }
textarea { height: 100px; }
h3 { padding-left: .5em; }

#metadata .half { width: calc(50% - 16px); }
.mappingMetadataPanel { margin: .5em; }
.mappingMetadataPanel .panel { padding: .5em; }
.half input[type='text'] { width: 98%; }
.operations { text-align: center; }
