body { overflow: hidden; }

#matchingsTree { }

#matchingsTree li.matchingDetail { padding-left: 1em; line-height: 18px; }
#matchingsTree li.matching { line-height: 16px; }
#matchingsTree li.matcher { line-height: 16px; }

#matchingsTree ul.targets { display: none; padding-top: .1em; margin-left: 1em; margin-right: .5em; margin-bottom: .2em; }
#matchingsTree ul.matchers { display: none; border: 1px dotted; margin-right: 1em; margin-bottom: .2em; }

span.sourceLabel, span.targetLabel { border-bottom: 1px solid transparent; cursor: pointer; }
span.sourceLabel:hover, span.targetLabel:hover { border-bottom: 1px dotted; }

.matching.ui-state-hover { font-weight: normal; border: 1px dotted !important; }

.matching.selected, .matching.selected.ui-state-hover { border: 1px solid !important; }

.matchingResultsReport { text-align: right; }
.matchingsList .panelWrapper,
.selectedMatching .panelWrapper { height: 450px; max-height: 450px; }

.providerIdSeparator { padding-left: 2px; padding-right: 2px; }

#matchingResults {
	height: calc(100% - 34px);
	overflow: auto;
}

#matchingFilters {
	height: 32px;
	line-height: 32px;
	padding-left: .5em;
	
	text-align: center;
}

#matchingFilters input[type='button'] {
	margin-bottom: 2px;
	min-width: 128px;
}

#matchingsTree li.matching, #matchingsTree li.matcher { font-size: smaller;
  border: 1px solid transparent;

  margin-top: .1em;
  margin-right: 1em;
  margin-left: .5em;

  padding-left: .5em;
  padding-top: .1em;
}

#matchingsTree li.matching:hover {
  border: 1px solid gray;
}

span.sourceLabel, span.targetLabel  { display: inline-block; padding-bottom: 2px; margin-bottom: 2px; margin-top: 1px; }

.matcherSourceDataDetail { border-bottom: 1px solid; }
.matcherTargetData { clear: both; padding-left: 1em; }
.matcherTargetDataLabel { display: block; }

.matchingSelectionButton {
  padding: 1px 15px !important;
  font-size: smaller !important;
  margin-left: 1em;

  display: none;
}

.matching:hover .matchingSelectionButton {
  display: inline-block;
}

.sourceType, .targetType { font-style: italic; display: none; }

.sourceProviderId, .sourceId,
.providerIdSeparator,
.targetProviderId, .targetId {
  font-family: monospace !important	;
  font-weight: bold;
}

.targetsReport, .targetsStatus { font-size: smaller; }

#matching { padding: .5em; }
#matching h3 { padding-left: .2em; }

#details { margin-top: .5em; }
#details div.panel { padding: .5em; height: 200px; overflow: auto; }
#details div.panel p { font-size: smaller; }
#details div.panel p label { display: inline-block; font-weight: bold; width: 200px; padding-right: .2em; }
#details div.panel div.participatingMatchers { height: 100px; overflow: auto; border: 1px dotted; margin-top: .5em; }
#details div.panel div.participatingMatchers ul { padding-left: 1em; }
#details div.panel div.participatingMatchers ul li { list-style: decimal; font-size: smaller; margin-left: 1em; }
#details div.controls { text-align: center; margin-top: .5em; }

#sourceParticipant > .panel,
#targetParticipant > .panel { padding: .2em; height: 150px; overflow: auto; }

.participantData { font-size: smaller !important; }
.participantData .participantCodelistInfo { display: inline-block; width: 95%; }
.participantData .participantCodelistInfo label { font-weight: bold; }
.participantData .data { display: inline-block; }
.participantData .data ul { padding-left: 1em; }

.sourceCodelistId, .sourceDataId, .targetCodelistId, .targetDataId { font-family: monospace !important; padding: 0 .5em; }
