body { overflow: hidden; }

.entry code,
code.id {
        font-weight: bold;
        font-size: larger;
        display: inline-block;
        width: 115px;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        margin-left: 3px;
        margin-top: 3px;
}

.entry .sampleContent {
        font-size: 75%;
        max-width: calc(100% - 120px);
        text-overflow: ellipsis;
        white-space: nowrap;
        display: inline-block;
        overflow: hidden;
        cursor: help;
        padding-bottom: 2px;
}

.entry.ui-state-hover { margin-top: 0px; }
.entry.ui-state-hover .sampleContent { max-width: calc(100% - 150px); padding-bottom: 2px}

.entry { border: 1px dotted; margin: .2em; } 
.entry.source .entry.target { margin-left: 1em; }
.entry .sampleContent label { font-weight: bold; margin: 0 .5em; }
.entry.target code, code.draggable { cursor: move; }

.panelWrapper { height: 451px; max-height: 451px; }

.drop { border: 1px solid }

button.ui-button-icon-only { width: 1em; margin-left: 2px; vertical-align: top; margin-top: 4px; }