.panelWrapper { border-left: 1px solid; border-right: 1px solid; border-bottom: 1px solid; height: 451px; }
div.buttonSet { display: block !important; }
label.ui-button { width: 400px; margin: 1em; padding-top: 1em; padding-bottom: 1em; }
.container { text-align: center; }
.innerContainer { position: relative; top: 50%; transform: translateY(-50%); }