h2 {
	padding: .5em .5em !important;
	text-shadow: -1px -1px 0px #185888;
	filter: dropshadow(color=#185888, offx=-1, offy=-1);
}

h2 + p {
	padding: .5em;
	border-left: 1px solid;
	border-right: 1px solid;
	border-bottom: 1px solid;
}

h2 input.ui-button {
	padding: .2em .5em;
}

.message img {
	padding-left: .5em;
	vertical-align: text-bottom;
}

.codelist select {
	width: 49%;
	font-family: monospace !important;
	font-size: smaller;
}

.codelist select optgroup,
.codelist select optgroup option {
	font-family: monospace !important;
}

.codelist select option.unavailable {
	background-color: red !important;
	color: white;
}

.codelist select option.empty {
	background-color: gray !important;
	color: white;
}

.codelist select option.selected {
	background-color: green;
	color: white;
}

.codelistMeta, .codelistData {
	border-left: 1px solid;
	border-right: 1px solid;
	border-bottom: 1px solid;

	padding: .5em;

	height: 150px;

	overflow: hidden;
}

.codelistMeta:hover,
.codelistData:hover {
	overflow: auto;
}

.codelistData {
	min-height: 200px;
}

th.metaRowNum,
td.metaRowNum {
	width: 64px !important;
	min-width: 64px !important;
	max-width: 64px !important;
}

table.meta td.metaRowNum {
	cursor: pointer;
}

table.meta td.metaRowNum.code {
	border-color: black !important;
	border-style: solid;

	cursor: help;
}

.metaRowName {
	min-width: 250px;
}

.metaRowType {
	min-width: 80px;
}

.ui-tooltip,
.shadowWrapper {
	-webkit-box-shadow: 3px 3px 5px 1px rgba(0, 0, 0, .3);
	box-shadow: 3px 3px 5px 1px rgba(0, 0, 0, .3);
}

table.meta,
table.data {
	width: 100%;
	border-spacing: 0;
	border-collapse: collapse;
}

table.meta,
table.data {
	min-width: 384px;
}

table.meta thead,
table.data thead {
	background-image: none;
}

table.meta thead th,
table.data thead th {
	white-space: nowrap;
	padding: 0 .2em;
	border-right: 1px solid white;
}

table.meta tbody tr:hover,
table.data tbody tr:hover {
	background-color: #FFFFCC;
}

table.data tbody td:hover {
	background-color: #EEEEBB;
	border-style: solid;
}

table.data tbody td:hover {
	cursor: help;
}

table.meta tbody td,
table.data tbody td {
	text-align: right;
	border: 1px dotted;
	margin: 1px;
	padding: 0 2px;

	font-family: monospace !important;
}

table.data tbody td {
	max-width: 200px !important;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}

table.data tbody td.null {
	background-color: silver !important;
}

table.meta tbody td.metaRowName {
	font-weight: bold;
}

table.meta tbody td.metaRowType {
	font-style: italic;
}

table.data tbody td {
	white-space: nowrap;
}