#matchersInfo > div > p { font-size: small; margin-bottom: 1em; }

.matcherDetails { display: inline-block;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        max-width: calc(100% - 100px);
}

.slider { width: calc(100% - 270px); }

.matcherConfiguration .slider { width: calc(100% - 240px); }
.matcherConfiguration select { width: calc(100% - 130px) !important; }
.matcherConfiguration ul li { line-height: 1.5em; }

.matcherParameters { display: none; }
.matcherParameters > div > p { margin-bottom: .5em; text-align: justify; }

#matchersInfo label { font-weight: bold; padding-right: .5em; }

#matchersInfo h3:first-child { margin-top: 0 !important; }

h3.matcherHeading { height: 40px; line-height: 40px; }

#matchingConfiguration {
	margin: .5em;
	
	font-size: smaller;
}

#matchingConfiguration > div > * { padding: .5em; }

#matchingConfiguration label.parameter {
	font-weight: bold;
	display: inline-block;
	
	width: 128px;
}

#matchingConfiguration label.ui-button { min-width: 48px; }

#matchingConfiguration .ui-button-text-only .ui-button-text {
	font-size: smaller;
	padding: .2em 1em;
}

#overallMatchingConfiguration { margin-top: .5em; }

#overallMatchingConfiguration li {
	height: 32px;
	line-height: 32px;
}

#matchersConfiguration { margin-top: .5em; }

#matchersConfiguration > .panel { height: 256px; }

#configuredMatchers h3 { line-height: 22px; height: 20px; }

select.sourceDataColumn, select.targetDataColumn { margin-top: .1em; margin-bottom: .2em; width: 320px; }

.matcherConfiguration { font-size: smaller; }

.sliderMin, .sliderMax, .sliderValue { display: inline-block; width: 24px; }

.sliderValue { text-align: left }
.sliderMin { text-align: right; padding-right: 1em; }
.sliderMax { text-align: left; padding-left: 1em; }

#processProgress { margin-top: .5em; width: calc(100% - 155px); }

.ui-progressbar {
	position: relative;
}

.progress-label {
	position: absolute;
	right: 24px;
	top: 12px;
	font-weight: bold;
	text-shadow: 1px 1px 0 #fff;
}

.dialogContent { 
	font-size: smaller;
	padding: 1em;
}

#status input[type='button'] { min-width: 64px; }

#status .controls { padding-top: 0; clear: right; }

#status .controls .buttons {
	margin-top: 16px;
	margin-right: 16px;
}
	
#status .controls .buttons input[type='button'] { text-transform: uppercase; }
#status .controls .buttons input[type='button'].ui-state-default { cursor: pointer; }

#status .controls > div {
	height: 40px;
}

#matchingResults { display: none; }